/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: url(/img/cover.jpg) rgba(0, 0, 0, 0.397);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: white;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 2%;
}

.left img {
    width: 10%;
    padding-left: 10%;
}

.left div {
    padding-left: 5%;
    font-size: 115%;
}

.mid {
    /* border: 2px solid yellow; */
    display: block;
    width: 50%;
    margin: 2% auto;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 115%;
    text-transform: uppercase;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 0 23px;
}

.navbar li a:hover , .navbar li a.active {
    color: #ED1C24;
}

.right {
    /* border: 2px solid green; */
    display: inline-block;
    position: absolute;
    top: 5%;
    right: 6%;
}

.btn {
    font-size: 115%;
    color: white;
    border-radius: 10px;
    padding: 6px 16px;
    margin: 5px;
    border-color: transparent;
    background: #ED1C24;
}

.btn:hover {
    background: #ed1c23cc;;
    border: 2px solid transparent;
}

.container {
    /* border: 2px solid white; */
    margin: -2% 51%;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.form-group input {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: block;
    width: 400px;
    padding: 3px;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 120%;
    margin: 13px auto;
}

.container h1 {
    text-align: center;
    font-size: 151%;
}

.container button {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: block;
    width: 410px;
    padding: 3px;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 120%;
    margin: 20px auto;
}